.drop-menu-box {
  position: relative;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  font-size: 14px;

  border-radius: 5px;

  background-color: white;
  color: black;
}
.drop-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  position: absolute;
  top: 95%;
  left: 0px;
  width: 90%;

  transition: 0.3s ease;
  animation: ComeDown 0.5s ease;
}

.drop-item-box {
  background-color: white;
}

.drop-item {
  width: 100%;
  padding: 10px;
  color: black;
  background-color: white;
}

.drop-item:hover {
  background-color: rgb(216, 216, 216);
}
